# -*- mode: snippet -*-
# name: beamer notes
# group: beamer
# key: bnote
# --
**** :B_note:
:PROPERTIES:
:BEAMER_ENV: note
:END:

$1

*** Notes :B_ignoreheading:
:PROPERTIES:
:BEAMER_env: ignoreheading
:END:

$1

$0