# -*- mode: snippet -*-
# name: beamer-data
# group: beamer
# --
#+TITLE: ${1:Title}
#+SUBTITLE: ${2:Subtitle}
#+AUTHOR: ${3:Dr.} Ridenour
#+DATE: `(format-time-string "%B %e, %Y")`
#+BEAMER_HEADER: \institute{Department of Philosophy}
#+BEAMER_THEME: basicwhite[school,sections]
#+OPTIONS:   H:3

* $0


