# -*- mode: snippet -*-
# key: biberpdf
# group: 
# name: arara biberpdf
# --
#+LaTeX_HEADER: % arara: biber
#+LaTeX_HEADER: % arara: pdflatex: { interaction: nonstopmode, synctex: yes }
#+LaTeX_HEADER: % arara: pdflatex: { interaction: nonstopmode, synctex: yes }