# -*- mode: snippet -*-
# key: biberlua
# group: 
# name: arara biberlua
# --
#+LaTeX_HEADER: % arara: biber
#+LaTeX_HEADER: % arara: lualatex: { interaction: nonstopmode, synctex: yes }
#+LaTeX_HEADER: % arara: lualatex: { interaction: nonstopmode, synctex: yes }
