# -*- mode: snippet -*-
# name: Logic Commands
# key: lcommands
# --
#+LaTeX_HEADER: \renewcommand{\land}{\&}
#+LaTeX_HEADER: \newcommand{\lif}{\supset}
#+LaTeX_HEADER: \newcommand{\liff}{\equiv}
#+LaTeX_HEADER: \renewcommand{\land}{\mathbin{\&}}
#+LaTeX_HEADER: \newcommand{\lneg}{\neg}
#+LaTeX_HEADER: \renewcommand\familydefault\sfdefault
#+LaTeX_HEADER: \usepackage[LGRgreek]{mathastext}
#+LaTeX_HEADER: \renewcommand\familydefault\rmdefault
